SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
USE_POSTGRES=True
POSTGRES_DB=tasktracker
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
USE_POSTGRES=True